@import 'tailwindcss';

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@theme {
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;

    --spacing-page-top: 128px;
    --spacing-page-width: 1072px;
    --spacing-content-width: 640px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
    --color-gray-50: #ffffff;
    --color-gray-75: #fdfdfd;
    --color-gray-100: #f8f8f8;
    --color-gray-200: #e6e6e6;
    --color-gray-300: #d5d5d5;
    --color-gray-400: #b1b1b1;
    --color-gray-500: #909090;
    --color-gray-600: #6d6d6d;
    --color-gray-700: #464646;
    --color-gray-800: #222222;
    --color-gray-900: #000000;
    --color-gray-950: #000000;

    --color-selection: hsla(0, 0%, 0%, 0.045);
    --color-border: hsla(0, 0%, 0%, 0.09);

    --color-page-background: var(--color-gray-50);

    --color-heading: var(--color-gray-900);
    --color-text-body: var(--color-gray-800);
    --color-text-second: var(--color-gray-700);
    --color-text-disabled: var(--color-gray-500);

}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
  --page-top: 128px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
    @media (prefers-color-scheme: dark) {
    --color-gray-50: #000;
    --color-gray-75: #141414;
    --color-gray-100: #1d1d1d;
    --color-gray-200: #303030;
    --color-gray-300: #4b4b4b;
    --color-gray-400: #6a6a6a;
    --color-gray-500: #8d8d8d;
    --color-gray-600: #b0b0b0;
    --color-gray-700: #d0d0d0;
    --color-gray-800: #ebebeb;
    --color-gray-900: #fff;
    --color-gray-950: #fff;

    --color-selection: hsla(0, 0%, 100%, 0.077);
    --color-border: hsla(0, 0%, 100%, 0.1);

    --color-page-background: var(--color-gray-75);

    --color-heading: var(--color-gray-900);
    --color-text-body: var(--color-gray-800);
    --color-text-second: var(--color-gray-600);
    --color-text-disabled: var(--color-gray-500);
    }
  }
  html {
    color-scheme: dark;
  }

}
main{
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-top: var(--spacing-page-top);
  padding-bottom: var(--spacing-page-top);
}
  @media (max-width: var(--lg)) {
    :root {
      --page-top: 128px;
    }
  }

  @media (max-width: 768px) {
    :root {
      --page-top: 96px;
      --body-margin-left: max(16px, env(safe-area-inset-left));
      --body-margin-right: max(16px, env(safe-area-inset-right));
    }
  }

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
/* animate intro stage */
@media (prefers-reduced-motion: no-preference) {
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  [data-animate] > * {
    --lv: 0;
    --lv-wait: 0;
    --delay: 50ms;
    --start: 0ms;
    animation: enter 0.5s both;
    animation-delay: calc(
      var(--lv) * var(--delay) + var(--lv-wait) * var(--delay) + var(--start)
    );
  }
  [data-animate-speed='slow'] > * {
    --delay: 100ms;
  }
  [data-animate-speed='fast'] > * {
    --delay: 25ms;
  }
}

[data-animate] > *:nth-child(1) {
  --lv: 1;
}
[data-animate] > *:nth-child(2) {
  --lv: 2;
}
[data-animate] > *:nth-child(3) {
  --lv: 3;
}
[data-animate] > *:nth-child(4) {
  --lv: 4;
}
[data-animate] > *:nth-child(5) {
  --lv: 5;
}
[data-animate] > *:nth-child(6) {
  --lv: 6;
}
[data-animate] > *:nth-child(7) {
  --lv: 7;
}
[data-animate] > *:nth-child(8) {
  --lv: 8;
}
[data-animate] > *:nth-child(9) {
  --lv: 9;
}
[data-animate] > *:nth-child(10) {
  --lv: 10;
}
[data-animate] > *:nth-child(11) {
  --lv: 11;
}
[data-animate] > *:nth-child(12) {
  --lv: 12;
}
[data-animate] > *:nth-child(13) {
  --lv: 13;
}
[data-animate] > *:nth-child(14) {
  --lv: 14;
}
[data-animate] > *:nth-child(15) {
  --lv: 15;
}
[data-animate] > *:nth-child(16) {
  --lv: 16;
}
[data-animate] > *:nth-child(17) {
  --lv: 17;
}
[data-animate] > *:nth-child(18) {
  --lv: 18;
}
[data-animate] > *:nth-child(19) {
  --lv: 19;
}
[data-animate] > *:nth-child(20) {
  --lv: 20;
}
